<h1>Hello Everyone. The time is <%= @time %></h1>
<p>Have a great day</p>
<p> This is done using Embedded Ruby (erb) </p>

<P> Middleware/Filters

 <a href="/say/goodbye">Goodbye</a>

  <p><%= link_to("Goodbye", say_goodbye_path) %></p>

